

.teacherRating {
    display: flex;
    flex-direction: column;
    margin: 2px 0px;
  }
  
  
  .teacherRating h1 {
    font-size: 20px;
    font-style: normal;
    line-height: 24px;
    margin-bottom: 9px;
    text-align: left;
    font-family: Poppins, sans-serif;
    font-weight: 800;
  }
  
  .teacherRating p {
    line-height: 16px;
    margin-bottom: 11px;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }
  .teacherRatingbox{
    background: white;
    padding: 20px;
    margin: 15px;
    border-radius: 8px;
    box-shadow: 3px 3px 25px rgba(0,0,0,0.3);
  }