form {
    margin-top: 35px;
  }
  label{
    font-family: Avenir-Heavy, Avenir, Helvetica, sans-serif;
    font-size: 16px;
    text-align: left;
    white-space: nowrap;
    margin-bottom: 7px;
  }
  
  input{
    border: 1px solid rgb(209, 209, 209);
      border-radius: 3px;
      color: inherit;
      font-family: Helvetica, arial;
      font-size: 16px;
      height: 40px;
      outline: none;
      padding: 12px 8px;
      width: 100%;
  }
  select{
    -webkit-box-align: center;
      align-items: center;
      display: flex;
      flex: 1 1 0%;
      flex-wrap: wrap;
      position: relative;
      box-sizing: border-box;
      border: 1px solid rgb(209, 209, 209);
      border-radius: 3px;
      color: inherit;
      font-family: Helvetica, arial;
      font-size: 16px;
      height: 40px;
      outline: none;
      padding: 12px 8px;
      width: 100%;
  }
  button[type="submit"] {
    border: 1px solid rgb(0, 33, 255);
      border-radius: 100px;
      color: white;
      display: flex;
      font-stretch: normal;
      font-weight: 700;
      -webkit-box-pack: center;
      justify-content: center;
      letter-spacing: normal;
      line-height: 1.54;
      outline: none;
      padding: 11px 46px;
      transition: transform 0.2s ease 0s;
      background: rgb(0, 33, 255);
      min-width: 220px;
      text-decoration: none;
      width: fit-content;
  }